{:source-paths ["src"]
 :builds {:app {:target :esm
                :output-dir "target/"
                :modules {:z {:exports {foo app.main/main!}}}
                :runtime :custom
                }
          }}
