{:source-paths ["src"]
 :builds {:app {:target :esm
                :output-dir "target/"
                :modules {:baz {:exports {foo app.main/bar}}}
                :runtime :custom
                }
          }}
